

NET "LED[2]" LOC = AP2;
NET "LED[1]" LOC = AN2;
NET "LED[3]" LOC = AM2;
NET "LVDS_DIN_p" LOC = C3;
NET "LVDS_DOUT_p" LOC = H2;
NET "LVDS_SIN_p" LOC = E3;
NET "LVDS_SOUT_p" LOC = G3;
NET "RESET" LOC = V7;
NET "CLOCK" LOC = H18;

# PlanAhead Generated physical constraints 

NET "LEDs_PF[7]" LOC = AD29;
NET "LEDs_PF[6]" LOC = AC29;
NET "LEDs_PF[5]" LOC = AD30;
NET "LEDs_PF[4]" LOC = V24;
NET "LEDs_PF[3]" LOC = W24;
NET "LEDs_PF[2]" LOC = Y27;
NET "LEDs_PF[1]" LOC = W27;
NET "LEDs_PF[0]" LOC = W30;

# PlanAhead Generated IO constraints 

NET "LEDs_PF[7]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[6]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[5]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[4]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[3]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[2]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[1]" IOSTANDARD = LVCMOS33;
NET "LEDs_PF[0]" IOSTANDARD = LVCMOS33;
