

NET "LED[7]" LOC = AD29;
NET "LED[6]" LOC = AC29;
NET "LED[5]" LOC = AD30;
NET "LED[4]" LOC = V24;
NET "LED[3]" LOC = W24;
NET "LED[2]" LOC = Y27;
NET "LED[1]" LOC = W27;
NET "LED[0]" LOC = W30;
NET "CLOCK" LOC = H18;
NET "CS" LOC = V25;
NET "RESET" LOC = G10;
NET "SCK" LOC = Y31;
NET "SDI" LOC = W25;


NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "CLOCK" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "SCK" IOSTANDARD = LVCMOS33;
NET "SDI" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "SDO" LOC = V29;

# PlanAhead Generated IO constraints 

NET "SDO" IOSTANDARD = LVCMOS33;
